{% load staticfiles %}
<!DOCTYPE html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link href="/static/libs/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <script src="/static/libs/jquery/jquery-2.0.3.min.js" type="text/javascript" ></script>
        <script src="/static/libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        {% block extra_head  %}
        {% endblock %}
    </head>
{% block body %}
    <body>
        {% block menu %}

        {% endblock %}
        {% block content %}

        {% endblock %}
        {% block footer %}

        {% endblock %}
    </body>
{% endblock %}

</html>